/* NAV */

@media (max-width : 767px){
    nav {
        background-color: #e9e9e9;
        opacity: 0.95;
    }
}

@media (min-width : 768px){
    nav {
        background-color: rgba(0, 0, 0, 0.15);
    }
}


.navbar-dark .navbar-nav{
    color: #000;

}

p.pagename {
    font-family: 'Pacifico', cursive;
    color: #00ab63 !important;
    font-size: 30px;
    cursor: pointer;
}

.nav-link {
    color: #000000;
    transition: color .3s;
    margin-bottom: 0px;
    font-family: 'Lato', sans-serif;
}

.nav-link:hover {
    cursor: pointer;
    color: #ffffff;
    opacity: 1;

}

/* BASICS */
p{
    color: black;
    font-family: 'Nanum Gothic', sans-serif;
}

a{
    color: black;
    font-family: 'Nanum Gothic', sans-serif;
}

h5 {
    font-family: 'Nanum Gothic', sans-serif;

}

body {
    text-align: center;
}

/* BODY */
h3.section-name {
    font-family: 'Lato', sans-serif;
    color: #00ab63 ;
}



#projects-start {
    margin-top: 100px;
}

h4.post-title {
    font-family: 'Lato', sans-serif;

}
/* MODAL */
.modal {
    max-width: 900px;
    border-radius: 1rem;
    text-align: center;
    margin: auto;

}

.modal-dialog {
    margin: 10px;
    text-align: center;
    max-width: 900px;
}

.modal-header{
    display: inline-block;
}

button.close {
    position: absolute;
    top: 10px;
    right: 10px;
}
.modal-content {
    max-width: 800px;
    border: 0;

}

p.date {
    font-size: x-small;
    color: #5d5d5d;

}

a.modal-exp {
    font-size: small;
    color: #8a8a8a;
}

/* Modal HOVER */
.image-wrapper {
    position: relative;
    height: 536px;
    width: 360px;
    margin: auto;

}


.project-hover-text {
    position: absolute;
    height: 536px;
    width: 360px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.11);
    color: #fff;
    visibility: hidden;
    opacity: 0;

    /* transition effect. not necessary */
    transition: opacity .6s, visibility .2s;
}

.project-hover-text p{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    color: black;
    font-size: large;
}

.image-wrapper:hover .project-hover-text{
    visibility: visible;
    opacity: 1;
}

p.hover-text {
    font-family: 'Pacifico', cursive;

}

/* Experience */
a:hover {
    color: #000;
    text-decoration: none;
}

ul.desc {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.desc li {
    padding-left: 1em;
    text-indent: -.7em;
    font-family: 'Nanum Gothic', sans-serif;

}

ul.desc li::before {
    content: "+ ";
    color: #00ab63; /* or whatever color you prefer */
}


#contact-start i {
    color: gray;
    font-size: 80px;
    transition: color .3s;
}

#contact-start i:hover {
    color: #00ab63;
    cursor: pointer;
}

.mb-50 {
    margin-bottom: 50px;
}
/* FOOTER */
footer p.my-name {
    font-family: 'Pacifico', cursive;
}
